.form-col {
  display: flex;
  flex-direction: column;

  & label {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  & input {
    margin-bottom: 2.3rem;
    padding-left: 1rem;
    width: 50rem;
    height: 5rem;
    border-radius: 4px;
    border: solid 2px rgba(#000, 0.15);
    outline: none;
    transition: all ease-in-out 0.3s;

    &::placeholder {
      padding-left: 2rem;
      color: rgba(#000, 0.3);
    }

    &:focus {
      border: solid 2px #483fff;
      background-color: rgba(#483eff, 0.15);

      & + label {
        opacity: 0;
      }
    }
  }

  & .invalid {
    background-color: rgba(rgb(255, 103, 103), 0.15);
    border: 2px solid rgba(rgb(255, 103, 103), 1);
  }
}

input:focus::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
}
